.StatusBar {
	height: 56px;
	width: 100%;
	display: flex;
	align-items: stretch;
	background-color: #000;
	color: #fff;
}

.StatusBar div {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.StatusBar > div:first-child {
	min-width: 384px;
	max-width: 20%;
	width: 100%;
	padding-left: 16px;
}

@media only screen and (max-width: 700px) {
	.StatusBar>div:first-child {
		min-width: 200px;
	}
}

.StatusBar div button {
	padding: 4px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: #fff;

}

.StatusBar div button:hover {
	background-color: #666;
	border-radius: 50%;
}

.StatusBar>div>button.logout {
	margin-left: auto;
	margin-right: 16px;
	padding: 8px;
}